.bio {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.bio img {
    width: 25vw;
    align-self: end;
    margin: auto;
}
.bio p {
    margin: 5%;
    width: 600px;
}
/* body {
    background: none
} */

