.proj-container-all {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.proj-container-content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.proj-container-all h1 {
    margin: auto;
}
.proj-container-content img {
    width: 40vw;
    height: auto;
    margin: auto;
}
.proj-container-all h2 {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}
.proj-container-content p {
    width: 30vw;
    padding: 20px;
    min-width: 300px;
    margin: 20px auto;
    font-family: 'Montserrat', sans-serif;
}
.proj-container-content p a {
    opacity: 70%;
}

.proj-container-content p a:hover {
    opacity: 100%;
    text-decoration: underline;
}

hr {
    border-width: 2px;
}
.content {
    height: 450px;
    overflow-y: auto;
}