body {
    color: #eee;
    margin: 0;
    padding: 0;
    background: url('../img/darkmodebg.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
.content {
    width: 80%;
    background-color: #3C3A4C;
}
.toggle {
    background: #5E5B5B;
    width: 75px;
    height: 35px;
    border-radius: 17.5px;
    margin-left: 40px;
    cursor: pointer;
    border: 1px darkslategrey solid;
}
#switch {
    background: #B8B8B8;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    position: relative;
    top: 4px;
    left: 45px;
    border: 1px darkslategrey solid;

}
a {
    color: #0033cc;
}
header {
    font-family: 'B612', Arial, Helvetica, sans-serif;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    position: fixed;
    top: 0;
    background-color:#2A3042;
}
.navbar {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.navbar a {
    text-decoration: none;
    color: lightgray;
    margin-left: 40px;
    opacity: 50%;
    padding: 10px;
}
.navbar a:hover {
    opacity: 100%;
}
.switch-container {
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    margin-left: auto;
}
.switch-container p {
    position: relative;
    color: lightgray;
    opacity: 50%;
    padding: 0;
    margin: 0;
    margin-right: 4vw;
    left: 10%;
}

.center {
    margin: auto;
    width: 100%;
    position: absolute;
    top: 30%;
    text-align: center;
  }
.center h1 {
    font-family: 'Fjalla One', sans-serif;
    font-size: 450%;
}

.center h3 {
    font-size: 150%;
    font-family: 'Roboto', sans-serif;
}
.center {
    margin: auto;
    width: 100%;
    position: absolute;
    top: 30%;
    text-align: center;
  }
.social-container {
    position: fixed;
    bottom: 0;
    overflow-y: scroll;
    background: #2A3042;
    white-space: nowrap;
    padding: 2vh 0;
    width: 100%;
    height: 10%;
}
.social {
    position: relative;
    display: inline-block;
    will-change: transform;
    margin-right: 5%;
}
.social a {
    color: darkgray;
    text-decoration: none;
    font-size: 30px;
}
.social img {
    width: 30px;
}
